<template>
  <div class="exchange center">
    <h1>Coins: {{ coins }}</h1>
    <h1>Comprar coins</h1>
    <form @submit.prevent="submit">
      <input type="text" v-model="widthdraw" placeholder="0 BUSD" /><br /><br />
      <button type="submit">{{ comprar }}</button>
    </form>
    <div style="width: 100%">
      <br />
      <table style="width: 100%" border="1">
        <thead>
          <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Status</th>
            <th>Link</th>
            <th>Fee</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in transactions" v-bind:key="i">
            <td>{{ item.type }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.status }}</td>
            <td>
              <a :href="BSCSCAN + item.hash" target="_blank">Testnet bscscan</a>
            </td>
            <td>{{ item.fee }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import Web3 from "web3";
import * as json from "../utils/contractABI.json";
import moment from "moment";

export default {
  name: "Exchange",
  components: {},
  data: () => ({
    BSCSCAN: process.env.VUE_APP_TESTNET_BSCSCAN,
    coins: 0,
    widthdraw: "",
    intervalTx: {},
    web3: null,
    comprar: "Comprar",
    currentPage: 0,
    perPage: 10,
    total: 0,
    transactions: [],
  }),
  computed: {
    getCoins() {
      return Object.keys(this.$store.getters.getLoginUser).length != 0
        ? this.$store.getters.getLoginUser.user.amount
        : 0;
    },
  },
  methods: {
    async submit() {
      // console.log(this.widthdraw);
      this.comprar = "...";
      const from_address = ethereum.selectedAddress;
      // this.onClickConnect();
      let { abi, contract_address, reward_pool } = json;
      let send = this.widthdraw;

      let amount = this.web3.utils.toWei(send, "ether");
      // console.log(amount);
      let contract = new this.web3.eth.Contract(abi, contract_address);
      let transfer = contract.methods.transfer(reward_pool, amount);

      let encodedABI = transfer.encodeABI();
      // console.log(encodedABI);
      const transactionParameters = {
        from: from_address,
        to: contract_address,
        gas: "21000",
        data: encodedABI,
      };
      // console.log(transactionParameters);
      ethereum
        .request({
          method: "eth_sendTransaction",
          params: [transactionParameters],
        })
        .then((txHash) => {
          console.log("transactionhash", txHash);
          this.pendingTransactionInterval(txHash);
          let transaction = {
            date: moment().format("YYYY-MM-DD"),
            from: from_address,
            to: reward_pool,
            ammount: send,
            type: "DEPOSIT",
            coins: send,
            fee: 0,
            hash: txHash,
            user_id: this.$store.getters.getLoginUser.user.id,
          };

          this.$store.dispatch("CREATE_TRANSACTION", transaction).then(() => {
            console.log(transaction);
            this.getTransactions();
          });
        })
        .catch((error) => console.error);
    },
    pendingTransactionInterval(tx) {
      this.intervalTx = setInterval(this.pendingTransaction, 1000, tx);
    },
    pendingTransaction(tx) {
      this.web3.eth.getTransactionReceipt(tx, (err, txR) => {
        if (txR) {
          clearInterval(this.intervalTx);
          this.comprar = "Comprar";
        }
        if (err) {
          clearInterval(this.intervalTx);
          this.comprar = "Comprar";
        }
      });
    },
    getTransactions() {
      if (Object.keys(this.$store.getters.getLoginUser).length === 0) {
        this.$router.push("/");
      } else {
        let payload = {
          nonce: this.$store.getters.getLoginUser.user.nonce,
        };
        this.$store.dispatch("GET_TRANSACTIONS", payload).then((result) => {
          console.log(result);
          if (result.status === 201) {
            this.transactions = result.data.items.map((tx) => {
              let fee = parseFloat(tx.fee);
              tx.fee = fee.toFixed(2);
              return tx;
            });
            this.currentPage = result.data.meta.currentPage;
          }
        });
      }
    },
    cambiarPagina(pagina) {
      this.currentPage = pagina;
      // console.log(this.currentPage);
      this.getTransactions();
    },
  },
  async mounted() {
    this.coins = this.getCoins;
    this.web3 = new Web3(process.env.VUE_APP_PROVIDER_DEV); //development
    this.getTransactions();
  },
};
</script>

