<template>
  <div class="login center">
    <h1>This is an login page</h1>
    <!-- <vue-metamask userMessage="msg" @onComplete="onComplete"> </vue-metamask> -->
  </div>
</template>

<script>
// @ is an alias to /src
// import VueMetamask from "vue-metamask";

export default {
  name: "login",
  components: {
    // VueMetamask,
  },
  data() {
    return {
      msg: "el beta",
    };
  },
  methods: {
    async switchToBSCNetwork() {
      await ethereum.request({
        method: "wallet_switchEthereumChain",
        params: [{ chainId: "0x61" }],
      });
    },
  },
  async mounted() {
    if (window.ethereum) {
      try {
        await this.switchToBSCNetwork();
        let wallet = await window.ethereum.request({
          method: "eth_requestAccounts",
        });
        // console.log(wallet[0]);
        this.$store
          .dispatch("LOGIN_METAMASK", {
            address: wallet[0],
          })
          .then(() => {
            this.$router.push("/");
          });

        // setError(null);
      } catch (error) {
        console.log(error);
        // setError("Unable to connect to Metamask");
      }
    }
  },
};
</script>
