<template>
  <div id="nav">
    <router-link to="/" v-show="isLoggedIn">Home | </router-link>
    <router-link to="/about" v-show="isLoggedIn">About | </router-link>
    <router-link to="/exchange" v-show="isLoggedIn">Exchange | </router-link>
    <a href="#" v-show="isLoggedIn"> {{ wallet }} </a>

    <router-link to="/login" v-show="!isLoggedIn"
      >Login with metamask</router-link
    >
  </div>
  <router-view />
</template>
<script>
export default {
  computed: {
    isLoggedIn() {
      console.log(this.$store.getters.getLoginUser);
      return Object.keys(this.$store.getters.getLoginUser).length != 0;
    },
    wallet() {
      let shortWallet =
        Object.keys(this.$store.getters.getLoginUser).length != 0
          ? this.$store.getters.getLoginUser.user.address.substr(0, 4) +
            "..." +
            this.$store.getters.getLoginUser.user.address.substr(
              this.$store.getters.getLoginUser.user.address.length - 4,
              this.$store.getters.getLoginUser.user.address.length
            )
          : "";
      return shortWallet;
    },
  },
  mounted() {
    // if (typeof window.ethereum !== "undefined") {
    //   console.log("MetaMask is installed!");
    // }
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.center {
  text-align: center;
}
</style>
